title = "Победители 2022 года"
url = "/2022"
layout = "default"
==
<?php
use Folga\Mlp\Models\Project;

function onStart()
{
    $this['projects'] = Project::where('active', 1)->where('year', 2022)->orderBy('sort_order', 'asc')->get();
}
?>
==
<main class="container">
  <h1>{{this.page.title}}</h1>
    {# <p>В ходе комплексного исследования «Япосещаю», проведенного в 2021 году, было выявлено 1201 молодежное событие и проект, реализованные в Тюмени и на юге Тюменской области в период с августа 2018 года по апрель 2021 года (включительно).</p>
    <p>Среди выявленных событий и проектов экспертным советом, был определен топ наиболее социально значимых и качественно реализованных инициатив, которые вошли в каталог «72 новых повода полюбить Тюменскую область ещё сильнее». Победители были объявлены на церемонии награждения в формате прямого эфира на телеканале «Тюменское время».</p>
  <a href="{{ 'assets/pdf/72reasons21.pdf'|theme }}" target="_blank" class="link--solid link--pdf">Каталог «72 новых повода полюбить Тюменскую область»</a> #}
  <h2>Проекты-победители 2022 года</h2>
  <ul class="projects__list">
    {% for project in projects %}
      <li class="projects__item">
        <a href="{{ 'project' | page({slug: project.slug}) }}" class="projects__link{% if project.gallery is not empty %} projects__link--bg" style="background-image: url('{{project.gallery[0].photo|media}}');{% endif %}">
          <b class="projects__title">{{ project.title }}</b>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
