title = "Молодежная лидерская премия"
url = "/"
layout = "default"
description = "Расскажи о событиях и проектах, которые ты посетил(а) или организовывала и номинируй их на молодежную лидерскую премию."
==
<div class="award-hero container">
  <div class="award-hero__pictures js_slideshow">
    {% for i in 1..7 %}
      <div class="award-hero__img js_slideshow__slide" style="background-image: url('{{ ('assets/images/hero/'~i~'.jpg')|theme }}');"></div>
    {% endfor %}
    {% put scripts %}
    <script>
    // Автолистание фотографий
    const slideWrappers = document.getElementsByClassName('js_slideshow');
    function startSlideshow(slidesWrapper) {
        if (!slidesWrapper.children.length) {
            return;
        }

        let lastSlide = slidesWrapper.children[slidesWrapper.children.length - 1];
        lastSlide.classList.add('js_slideshow--active');
        setInterval(function () {
        let activeHeroImg = slidesWrapper.querySelector('.js_slideshow--active');
        let nextActiveHeroImg = activeHeroImg.previousElementSibling ?? lastSlide;

        if (activeHeroImg && nextActiveHeroImg) {
            nextActiveHeroImg.hidden = false;
            nextActiveHeroImg.classList.add('js_slideshow--active');
            activeHeroImg.classList.remove('js_slideshow--active');
            setTimeout(() => activeHeroImg.hidden = true, 1000);
            }
        }, 6000);
    }
    for (let i = 0; i < slideWrappers.length; i++) {
        startSlideshow(slideWrappers[i]);
    }
    </script>
    {% endput %}

  </div>
  <div>
    <div class="award-hero__text" id="about">
      <h1 class="award-hero__title">Молодежная лидерская премия</h1>
      <div class="award-hero__description">
          <p>Организуешь социально-значимые события и проекты в Тюменской области? Запускаешь новые направления, предлагаешь нестандартные решения и делаешь регион лучше с каждым днём? Это конкурс для тебя!</p>
          <p>Расскажи о себе, своём сообществе и реализованной вами инициативе (принимаются события и проекты, реализованные в период с мая 2021 по сентябрь 2022 года) и получи возможность выиграть награду от Губернатора Тюменской области и войти в каталог «72 новых повода полюбить Тюменскую область ещё сильнее»</p>
      </div>
    </div>
    <div class="award-hero__motivations">
      <div class="award-hero__motivate">
        <b class="award-hero__motivate_title">Заполни заявку на сайте</b>
      </div>
      <div class="award-hero__motivate">
        <b class="award-hero__motivate_title">Сними ролик-визитку</b>
        <p class="award-hero__motivate_text">и выложи её на страничке во ВКонтакте</p>
      </div>
      <p>ТОП-72 будет объявлен в декабре 2022 года.</p>
    </div>
  </div>
</div>
<div class="quote container">
    <blockquote>
        <p>«Сегодня в Тюменской области существует более 500 молодежных сообществ. За каждым из них стоит неравнодушный и амбициозный лидер. Ежегодно эти сообщества создают порядка 5 000 социально значимых событий и проектов, которые охватывают важные сферы жизни и деятельности региона. Это и помощь нуждающимся, добровольчество, развитие туристического кластера и предпринимательства, экология, образование и наука. Лидеры молодежных сообществ выступают инициаторами и проводниками новых взглядов, прогрессивных идей. Они становятся драйверами изменений, предлагают новые и нестандартные решения и берут на себя ответственность за их реализацию.</p>
        <p>В этом году мы впервые даем старт молодежной лидерской премии для лидеров юга Тюменской области, чтобы отметить их вклад в развитие региона. В следующем году планируем масштабировать проект, ведь его главная задача — поддержать лидеров, их смелость, энергию, инициативность и показать жизнь молодежной среды нашей большой Тюменской области».</p>
    </blockquote>
    <img class="quote__photo" src="{{ 'assets/images/hero/moor.jpg'|theme }}" alt="" width="96" height="96">
    <p class="quote__author">Александр Моор, губернатор Тюменской области</p>
</div>
<section class="award-criteria container" id="criteria">
  <h2 class="section-heading">Критерии для участия в премии</h2>
  <p>Реализованные события и проекты должны соответствовать следующим требованиям</p>
  <div class="award-criteria__list">
    <div class="award-criteria__item">
      <b class="award-criteria__title">Дело</b>
      <p class="award-criteria__description">иметь социальный эффект</p>
    </div>
    <div class="award-criteria__item">
      <b class="award-criteria__title">Команда</b>
      <p class="award-criteria__description">организованы группой людей, в состав которой входит не менее 3-х человек</p>
    </div>
    <div class="award-criteria__item">
      <b class="award-criteria__title">Инициативность</b>
      <p class="award-criteria__description">реализованы сообществом по собственному желанию</p>
    </div>
    <div class="award-criteria__item">
      <b class="award-criteria__title">Публичность</b>
      <p class="award-criteria__description">упоминаться в СМИ и/или социальных медиа</p>
    </div>
  </div>
  <p>Еще больше информации о конкурсе ты можешь узнать из его <a href="{{ 'assets/pdf/konkurs.pdf'|theme }}" target="_blank" class="link--solid link--pdf">положения</a>.</p>
</section>

{# {% if award.experts.people %}
  <section class="award-experts container" id="experts">
    <h2 class="section-heading">Экспертный совет</h2>
    <button class="award-experts__reset" type="button" title="Сбросить фильтр" hidden></button>
    <ul class="award-experts__list">
      {% for person in award.experts.people %}
      <li class="award-experts__person">
        <img class="award-experts__photo" src="{{person.src}}" alt="">
        <div class="award-experts__text">
          <b class="award-experts__name">{{person.name}}</b>
          <p class="award-experts__job">{{person.job}}</p>
          <button class="award-experts__area js_experts_filter" type="button" title="Отфильтровать по категории">{{person.area}}</button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endif %} #}

<a class="nominate__btn" href="{{ 'nominate'|page }}">
    <img src="{{ 'assets/images/form.jpg'|theme }}" alt="Подать заявку" width="320" height="180" loading="lazy">
</a>

<div class="award-partners container" id="partners">
    <section>
        <h2 class="section-heading">Учредитель</h2>
        <div class="award-partners__item">
            <a href="https://vk.com/public171568439" target="_blank">
                <img class="award-partners__logo" width="180" height="100" src="{{ 'assets/images/partners/department.png'|theme }}" alt="Департамент по общественным связям ТО" loading="lazy">
            </a>
        </div>
    </section>
    <section>
        <h2 class="section-heading">Партнёры проекта</h2>
        <ul class="award-partners__list">
            <li class="award-partners__item">
                <a href="https://vk.com/moyaterritoriya72" target="_blank">
                    <img class="award-partners__logo" width="180" height="100" src="{{ 'assets/images/partners/mt.svg'|theme }}" alt="Моя территория" loading="lazy">
                </a>
            </li>
            <li class="award-partners__item">
                <a href="https://vk.com/mediacentr72" target="_blank">
                    <img class="award-partners__logo" width="180" height="100" src="{{ 'assets/images/partners/mediacenter.jpg'|theme }}" alt="Медиацентр молодежной политики" loading="lazy">
                </a>
            </li>
        </ul>
  </section>
</div>
<div class="award-team container">
<h2 class="section-heading">Команда проекта</h2>
<ul class="award-team__list">
    <li class="award-team__person">
        <img class="award-team__person_photo" src="{{ 'assets/images/team/fedorenko.jpg'|theme }}" alt="" width="300" height="300" loading="lazy">
        <div class="award-criteria__item">
            <b class="award-criteria__title">Мария Федоренко</b>
            <p class="award-criteria__description">Руководитель проекта, социальный продюсер<br>
            <a href="https://vk.com/fedorenkomary" class="award-team__person_link award-team__person_link--vk"><span class="visually-hidden">ВКонтакте</span></a>
            <a href="mailto:fedorenko.mary72@gmail.com" class="award-team__person_link award-team__person_link--email"><span class="visually-hidden">Электронная почта</span></a></p>
        </div>
    </li>
    <li class="award-team__person">
        <img class="award-team__person_photo" src="{{ 'assets/images/team/karachev.jpg'|theme }}" alt="" width="300" height="300" loading="lazy">
        <div class="award-criteria__item">
            <b class="award-criteria__title">Иван Карачев</b>
            <p class="award-criteria__description">Программный продюсер проекта, исследователь-аналитик<br>
            <a href="https://vk.com/karachev_iv" class="award-team__person_link award-team__person_link--vk"><span class="visually-hidden">ВКонтакте</span></a>
            <a href="mailto:karacheviv1995@gmail.com" class="award-team__person_link award-team__person_link--email"><span class="visually-hidden">Электронная почта</span></a></p>
        </div>
    </li>
</ul>
</div>
