@font-face {
    font-family: 'Matahari';
    src: url('../fonts/Matahari-300Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matahari';
    src: url('../fonts/Matahari-700Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matahari';
    src: url('../fonts/Matahari-900Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-weight: 300;
    font-family: 'Matahari', system-ui, sans-serif;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    color: #333;
}

.body-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.body-grid>.container {
    width: 100%;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.award-hero__title,
.award-nav__logo,
.section-heading,
h1,
h3 {
    font-family: 'Matahari', system-ui, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

b {
    font-weight: 700;
}
code {
    font-size: inherit;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 67em) {
    .container {
        max-width: 64rem;
    }
}

@media (min-width: 100em) {
    html {
        font-size: 125%;
    }
}

@media (min-width: 118em) {
    html {
        font-size: 150%;
    }
}

.link--img {
    text-decoration: none;
}

.link--solid[href] {
    transition: color .2s;
    color: #161BFF;
}

.link--solid[href]:hover {
    color: #B9272D;
}

.link--solid[href]:active {
    color: inherit;
}

.link--pdf::after {
    content: 'PDF';
    font-size: 50%;
    vertical-align: super;
    position: absolute;
}

.section-heading {
    font-size: 2em;
    margin: 0;
    line-height: 110%;
    font-weight: bold;
}
fieldset + fieldset {
    margin-top: 2em;
}
fieldset ~ details {
    margin-top: 1.5em;
}

.section-heading--small {
    font-weight: inherit;
    font-size: 1.45em;
}

.section-subheading {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 85%;
    font-weight: 600;
    margin-top: 0;
}

@media (min-width: 67em) {
    .section-heading {
        font-size: 2.5em;
    }

    .section-heading--small {
        font-size: 1.8em;
    }

    .section-subheading {
        font-size: 100%;
    }
}

/* Header */
.award-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/* @media (min-width: 45em) {
    .award-nav {
        border: 5px solid;
        position: relative;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .award-nav::before {
        content: '';
        position: absolute;
        display: inline-block;
        border-right: 5px #fff solid;
        top: 15px;
        bottom: 15px;
        left: -5px;
    }

    .award-nav::after {
        content: '';
        position: absolute;
        display: inline-block;
        border-left: 5px #fff solid;
        top: 15px;
        bottom: 15px;
        right: -5px;
    }

    .award-nav__border {
        display: block;
        position: absolute;
        left: 15px;
        right: 15px;
        top: -5px;
        bottom: -5px;
        pointer-events: none;
    }

    .award-nav__border::before {
        content: '';
        position: absolute;
        display: block;
        border-bottom: 5px #fff solid;
        left: 0;
        right: 0;
        top: 0;
    }

    .award-nav__border::after {
        content: '';
        position: absolute;
        display: block;
        border-top: 5px #fff solid;
        left: 0;
        right: 0;
        bottom: 0;
    }
} */

.award-nav__logo {
    font-weight: 900;
    font-size: 1.25em;
    transition: color .2s;
    color: inherit;
    text-decoration: none;
    margin-right: 1em;
}
.award-nav__logo img {
    height: auto;
    max-width: 100%;
}

.award-nav__list {
    flex-basis: 8em;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media (min-width: 45em) {
    .award-nav__list {
        flex-basis: auto;
        flex-grow: 0;
    }
}

.award-nav__item {
    display: inline-block;
}

.award-nav__item:not(:last-child) {
    margin-right: 1.25em;
}

.award-nav__link {
    text-decoration: none;
    transition: color .2s;
    display: block;
    padding-top: .25em;
    padding-bottom: .25em;
}

.award-nav__link[href] {
    color: inherit;
}

.award-nav__logo[href]:hover,
.award-nav__link[href]:hover {
    color: #B9272D;
}

/* .award-nav__logo[href]:active,
.award-nav__link[href]:active {
    color: #B9272D;
} */

/* Hero */
.award-hero {
    position: relative;
    padding-top: 24em;
    padding-bottom: 2em;
    overflow: hidden;
    counter-reset: motivate;
}

.award-hero__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25em;
    background-size: cover;
    background-position: top center;
}

.js_slideshow__slide {
    z-index: -1;
}

.js_slideshow--active {
    animation: appear 1s forwards;
    z-index: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.award-hero__title {
    margin: 0;
    font-size: 1.5em;
}

.award-hero__text {
    background-color: #B9272D;
    color: #fff;
    padding: 1.5em;
    position: relative;
}

@media (min-width: 45em) {
    .award-hero {
        padding-top: 2em;
        padding-bottom: 6em;
    }

    .award-hero__img {
        width: 49%;
        height: 140%;
    }

    .award-hero__title {
        font-size: 2em;
        margin-bottom: 0;
    }

    .award-hero__text {
        margin-left: 40%;
        padding-left: 2em;
        padding-right: 2em;
        margin-right: -1.5em;
    }

    .award-hero__motivations {
        float: right;
    }
}

@media (min-width: 67em) {
    .award-hero {
        padding-top: 0;
        overflow: visible;
    }
    .award-hero__text {
        margin-left: 45%;
        margin-top: -3em;
    }
    .award-hero__img {
       top: 2em;
    }
}

.award-hero__motivate {
    position: relative;
    padding-top: 3em;
    display: grid;
    grid-template-columns: 4em 1fr;
}

.award-hero__motivate::before {
    counter-increment: motivate;
    content: counter(motivate);
    grid-row: 1/3;
    font-size: 600%;
    display: block;
    text-align: right;
    padding-right: .1em;
    line-height: .85;
    color: #B9272D;
}

.award-hero__motivate:not(:first-child)::after {
    content: '↓';
    position: absolute;
    left: 1.25em;
    font-size: 300%;
    display: block;
    line-height: 1;
    color: #B9272D;
}

.award-hero__motivate_title {
    font-size: 175%;
    line-height: 1.2;
    max-width: 9em;
}

.award-hero__motivate_text {
    margin: 0.5em 0;
    font-size: 87.5%;
}

/* Quotes */
.award-quotes {
    margin-bottom: 3em;
}

.award-quotes__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 1em;
    margin-top: 2em;
}

.award-quotes__text {
    margin: 0 0 .5em;
    padding-bottom: .5em;
    border-bottom: .5em solid;
    grid-column: 1/3;
}

.award-quotes__img {
    grid-row: 2/4;
    width: 4.5em;
    height: 4.5em;
    object-fit: cover;
    object-position: center;
    align-self: start;
    margin-top: .5em;
}

.award-quotes__name {
    grid-column-start: 2;
    font-size: 1.25em;
}

.award-quotes__job {
    grid-column-start: 2;
    margin: 0;
    font-size: 87.5%;
}

@media (min-width: 45em) {
    .award-quotes__item {
        align-items: stretch;
        margin-right: 5em;
        margin-top: 4em;
    }

    .award-quotes__text {
        grid-column: 2/3;
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 1em;
    }

    .award-quotes__img {
        grid-row: 1/4;
        grid-column: 1/2;
        width: 14em;
        height: auto;
        padding-right: 1em;
        border-right: .5em solid;
        margin-top: 0;
    }

    .award-quotes__item:nth-child(even) {
        margin-right: 0;
        margin-left: 5em;
    }

    .award-quotes__item:nth-child(even) .award-quotes__img {
        grid-column: 2/3;
        padding-left: 1em;
        border-left: .5em solid;
        padding-right: 0;
        border-right: 0;
    }

    .award-quotes__item:nth-child(even) .award-quotes__text,
    .award-quotes__item:nth-child(even) .award-quotes__name,
    .award-quotes__item:nth-child(even) .award-quotes__job {
        grid-column: 1/2;
    }
}

/* Criteria */
.award-criteria {
    padding-top: 4em;
    margin-bottom: 4em;
    clear: right;
}

.award-criteria__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.award-criteria__item {
    border: .5em solid #333;
    background: linear-gradient(#fff 3px, transparent 3px), linear-gradient(to top, #fff 3px, transparent 3px), #333;
    color: #fff;
    flex-grow: 1;
    flex-basis: 14em;
}

.award-criteria__title {
    display: flex;
    align-items: center;
    border-bottom: 3px solid;
    padding: .75em 1rem .5em;
    font-size: inherit;
    font-weight: 600;
    text-transform: uppercase;
}

.award-criteria__description {
    margin: 0;
    padding: .8em 1em 1.2em;
}

/* Form */
.nominate__btn {
    display: block;
    color: inherit;
    margin-bottom: 3em;
}
.nominate__btn img {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.award-form {
    background-color: #333;
    color: #fff;
    border-bottom: .5em solid;
    margin-bottom: 4em;
    padding: 0;
    position: relative;
}

.award-form__heading {
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0;
}

.award-form__heading .container {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}

.award-form__pictures {
    height: 55vw;
    position: relative;
}

.award-form__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.award-form__description {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.award-form__description_list {
    margin: 0;
    padding-left: 1.25em;
}

.award-form__description_list li {
    margin-top: .35em;
}

.award-form__inputs {
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.award-form__row {
    position: relative;
    display: flex;
    flex-direction: column;
}

fieldset.award-form__row > label {
    margin-top: .5em;
}

.award-form__input {
    border: 3px solid #333;
    margin: 0;
    font: inherit;
    padding: .5em;
    border-radius: 0;
}
.award-form__input[type="radio"] {
    margin-right: .2em;
}

textarea.award-form__input {
    resize: vertical;
    min-height: 3em;
}

.form__output {
    margin-top: .5em;
    display: block;
}
.page-home .award-form__btn {
    background-color: #333;
    bottom: 15%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
}
.award-form__btn {
    background-color: rgba(255, 0, 0, 0);
    border: .15em solid;
    color: inherit;
    border-radius: 0;
    padding: .5em .75em;
    font: inherit;
    margin: 2em 0 .5em;
    transition: background-color .2s, color .2s, border-color .2s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    min-width: 13.6em;
    text-align: center;
}

a.award-form__btn {
    margin-bottom: 1em;
    display: inline-block;
}

.award-form__btn:enabled:hover {
    background-color: #B9272D;
    border-color: #B9272D;
    color: #fff;
}
.page-home .award-form__btn:hover {
    background-color: #B9272D;
}
.award-form__btn:disabled {
    background-color: #888;
}

.award-form .link--solid:not(:hover) {
    color: inherit;
}
.award-form__inputs summary {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
}

@media (min-width: 45em) {
    .award-form__btn {
        font-size: 125%;
    }
}

@media (min-width: 67em) {
    .award-form__pictures {
        height: auto;
        flex-basis: 25em;
        flex-grow: 1;
        flex-shrink: 0;
        min-height: 55vw;
        grid-column: 1/3;
    }
    .page-home .award-form__btn {
        font-size: 200%;
    }

    .award-form__inputs {
        padding-left: 3em;
        padding-right: 3em;
    }
    .award-form__inputs summary {
        margin-left: -1.5rem;
    }

    .award-form__description {
        grid-row: 2/3;
        background-color: #B9272D;
        color: #fff;
        font-size: 150%;
        margin: 0;
        padding-top: 2em;
        padding-bottom: 3em;
    }
}

/* Partners */
.award-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.award-partners__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: center;
    margin: 2em 0 4em;
    gap: 2em;
}
.award-partners h2+.award-partners__item {
    margin: 2em 0 4em;
}

.award-partners__item {
    flex-basis: 9em;
    max-width: 9em;
}

.award-partners__logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 8em;
    vertical-align: middle;
}

@media (max-width: 30em) {
    .award-partners__item {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

/* Team */
.award-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    list-style: none;
    margin: 2em 0;
    padding: 0;
}

.award-team__person {
    display: inline-flex;
    flex-basis: 16em;
    flex-direction: column;
}

.award-team__person_photo {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: auto;
}

.award-team__person_name {
    background-color: #B9272D;
    display: block;
    color: #fff;
    padding: .5em 1rem;
    font-size: 125%;
}

.award-team__person_job {
    margin-top: .5em;
    padding: 0 1em .5em;
    border-bottom: .5em solid;
}

.award-team__person_link {
    display: inline-block;
    padding: 1em;
    margin-right: .75em;
    margin-top: .75em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    vertical-align: middle;
}

.award-team__person_link:hover {
    opacity: .5;
}

.award-team__person_link--vk {
    background-image: url('../images/social/vk_mono.svg');
}

.award-team__person_link--ig {
    background-image: url('../images/social/ig_mono.svg');
}

.award-team__person_link--email {
    background-image: url('../images/social/email_mono.svg');
}

@media (min-width: 45em) {
    /* .award-team__person_photo {
        width: 15em;
    } */

    .award-team__person_name {
        margin-top: 1em;
        font-size: 135%;
        white-space: nowrap;
    }

    .award-team__person_job {
        padding-left: 1rem;
        padding-bottom: 1em;
    }
}

@media (min-width: 67em) {
    .award-team__person_photo {
        margin-right: -.1em;
        width: 12em;
    }

    .award-team__person {
        flex-basis: 30em;
        flex-direction: row;
        flex-grow: 1;
    }
}

/* Experts */
.award-experts {
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.award-experts__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 0;
    flex-basis: 100%;
}

.award-experts__person {
    display: flex;
    flex-grow: 1;
    flex-basis: 20em;
}

.award-experts__person[hidden] {
    display: none;
}

.award-experts__photo {
    width: 6em;
    height: 6em;
    margin-right: 1em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: relative;
    box-shadow: -.25em .25em 0 #B9272D;
}

.award-experts__name {
    background-color: #333;
    color: #fff;
    display: block;
    margin-left: -4em;
    padding: .2em 1em .2em 4em;
}

.award-experts__job {
    margin: .5em 0;
    font-size: 87.5%;
}

.award-experts__area,
.award-experts__reset {
    font-size: 87.5%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #161BFF;
    transition: color .2s;
}

.award-experts__reset {
    margin-top: 1em;
}

.award-experts__area:hover,
.award-experts__reset:hover {
    color: #B9272D;
}

.award-experts__area:active,
.award-experts__reset:active {
    color: inherit;
}

.award-experts__reset::before {
    content: '╳ ';
}

.award-experts__area:empty {
    visibility: hidden;
}

/* Footer */
.footer {
    border-top: 1px solid #d2d1d1;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer .link--img {
    margin-right: 2em;
    margin-bottom: 1em;
}

/* Projects */
.projects__list {
    padding: 0;
    margin: 2em 0 4em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.projects__item {
    flex-basis: 20em;
    display: inline-flex;
    flex-grow: 1;
}

.projects__link {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    color: #fff;
}

.projects__link--bg {
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
}

.projects__title {
    display: flex;
    background-color: #161BFF;
    text-align: center;
    padding: .5em 1em;
    transition: background-color .2s;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.projects__link:hover .projects__title {
    background-color: #B9272D;
}

.projects__link:active .projects__title {
    background-color: #333;
}

.project__content {
    padding-bottom: 3em;
}

.project__cover {
    width: 100%;
    max-width: 40em;
    height: auto;
    margin-right: -1.5em;
    margin-left: auto;
    float: right;
}

.project__title {
    background-color: #333;
    color: #fff;
    padding: .5em 1em;
    max-width: 20em;
    margin-bottom: 0;
    clear: right;
    font-size: 125%;
    margin-left: -1.5rem;
}

.project__cover+.project__title {
    margin-top: 0;
    position: relative;
    top: -1em;
}

.project__photos {
    display: flex;
    flex-wrap: wrap;
    margin: 2em -1.5em 1em;
}

.project__photo {
    flex-grow: 1;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
}

.project__footer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: baseline;
}

.project__footer .link--solid {
    margin-right: auto;
}

@media (min-width: 45em) {
    .project__title {
        font-size: 150%;
    }
}

@media (min-width: 67em) {
    .project__title {
        font-size: 200%;
        min-width: 15em;
    }

    .project-description {
        max-width: 40em;
        margin-left: .5em;
    }
}

.events__list {
    padding: 0;
    list-style: none;
}

.events__list>li {
    margin-bottom: .5em;
}

/* Quote */
.quote {
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    padding-bottom: 2em;
    padding-top: 1em;
}
.quote .award-nav {
    margin-left: 0;
    margin-right: 0;
}
.quote blockquote {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.quote__photo {
    border-radius: 50%;
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 200px;
}
.quote__author {
    text-align: center;
}
.quote__title {
    text-transform: none;
    font-size: 130%;
    font-weight: 700;
}

@media (min-width: 67em) {
    .quote {
        display: grid;
        grid-template-rows: auto auto auto;
        max-width: 64em;
        padding-top: 0;
    }
    .quote blockquote {
        font-size: 87.5%;
        margin: 0;
    }
    .quote__photo {
        grid-column: 2/3;
        grid-row: 1/5;
        border-radius: 0;
        margin: 0;
        width: 30vw;
        height: auto;
    }
    .quote__author {
        margin-left: 0;
        margin-top: 0;
        text-align: left;
    }
}
