description = "Default layout"
==
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">

    <meta property="og:image" content="{{ 'assets/images/theme-preview.png'|theme }}"/>
    <meta property="og:locale" content="ru"/>
    <meta name="twitter:card" content="summary_large_image">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'assets/css/theme.css' | theme }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png' | theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png' | theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png' | theme }}">
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | theme }}">
    {% styles %}
    {% placeholder head %}
</head>
<body class="page-{{ this.page.id }} layout-{{ this.layout.id }}">
{% if this.page.id is not same as 'home' %}
    {% partial "header" %}
{% endif %}

    {% page %}

{% partial "footer" %}
</body>
</html>
